html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: black;
}

#header {
    color: black;
    background: cyan;
    width: 100%;
    display: grid;
    grid-template: repeat(1, 15vh) / repeat(3, 1fr);
    font-size: 2em;
}

#header > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > div:nth-child(1) {
    grid-column: 1;
}

#header > div:nth-child(2) {
    grid-column: 2;
}

#back_button {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: black;
    background: cyan;
    border: none;
}

#mainContent {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#array {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element {
    color: white;
    border: 1px solid white;
    height: 4em;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_button, #reset_button {
    height: fit-content;
    width: fit-content;
    font-size: 1.5em;
    color: black;
    background: white;
    border: none;
}

#search_button:hover, #reset_button:hover {
    filter: brightness(0.8);
}

#search_button:active, #reset_button:active {
    filter: brightness(0.6);
}

#input {
    width: fit-content;
}

#input_value {
    width: fit-content;
    font-size: 1.5em;
    color: black;
    background: white;
    border: none;
}

#speed {
    color: white;
    padding: 0;
    margin: 0;
}

.slidecontainer {
  width: 25%; /* Width of the outside container */
}

.slidecontainer > div {
    display: flex;
    justify-content: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: cyan;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
