html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: black;
}

#header {
    color: black;
    background: cyan;
    height: 15vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(1, 15vh) / repeat(3, 1fr);
    font-size: 2em;
}

#header > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > div:nth-child(1) {
    grid-column: 1;
}

#header > div:nth-child(2) {
    grid-column: 2;
}

#back_button {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: black;
    background: cyan;
    border: none;
}

#mainContent {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#array {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element {
    color: white;
    border: 1px solid white;
    height: 4em;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

